.pageHeader {
    display: flex;
    justify-content: center;
    height: 50px;
    
}

.list {
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
}
.shop {
  min-width: 400px;
  height: 25px;
  flex-grow: 2;  
}